<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="icon" type="image/png" href="~/img/logo.png" />

    <!-- Import lib -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="~/css/style.css" />
    <!-- End import lib -->

    <link rel="stylesheet" type="text/css" href="~/css/styleAdmin.css">
    <link rel="stylesheet" type="text/css" href="~/css/baseN.css">
    <link rel="stylesheet" type="text/css" href="~/css/toast.css">
     @RenderSection("Styles", required: false);
  
</head>
<body class="overlay-scrollbar">
    <!-- navbar -->
    <div class="navbar">
        <!-- nav left -->
        <ul class="navbar-nav" style="display: flex; align-items: center;">
            <li class="nav-item">
                <a class="nav-link">
                    <i class="fa-solid fa-bars" onclick="collapseSidebar()"></i>
                </a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Index", "Home")">
                <img src="~/img/mylogo.png" alt="logo" class="logo logo-light">
            </li>
            <li class="nav-item" style="flex-grow: 1; text-align: center;">
                <h2 style="margin: 0; padding: 0; font-size: 1.5rem;">@ViewBag.Title</h2>
            </li>
        </ul>
        <!-- end nav left -->
        <!-- nav right -->
        <ul class="navbar-nav nav-right" style="display: flex; align-items: center;">
            <li class="nav-item">
                <div class="avt dropdown" >
                    <a> @User.Identity.Name</a>
                </div>
            </li>
            <li class="nav-item">
                <div class="avt dropdown">
                    <i class="fa fa-user-o"></i>
                    <a href="@Url.Action("Index", "AdminMessages")">
                        <i class="fa-solid fa-message p-3"></i>
                    </a>
                    <ul id="user-menu" class="dropdown-menu" style="position:absolute;left:-140px; max-width:200px;">
                        <li class="dropdown-menu-item">
                            <a href="@Url.Action("Logout", "Account")" class="dropdown-menu-link">
                                <div>
                                    <i class="fas fa-sign-out-alt"></i>
                                </div>
                                <span>Đăng xuất</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>

    <!-- end nav right -->
</div>
<!-- end navbar -->
<!-- sidebar -->
<div class="sidebar">
    <ul class="sidebar-nav">
        <li class="sidebar-nav-item">
                <a class="sidebar-nav-link" href="@Url.Action("Index", "Statistics")">
                <div>
                    <i class="fa-solid fa-signal"></i>
                </div>
                <span>
						Thông số bán hàng
					</span>
            </a>
        </li>
        <li class="sidebar-nav-item">
                <a class="sidebar-nav-link" href="@Url.Action("Index", "ProductSales")">
                <div>
                    <i class="fa fa-user"></i>
                </div>
                <span>Quản lý Khuyến Mãi</span>
            </a>
        </li>
        <li class="sidebar-nav-item">
            <a href="quanlysanpham.jsp" class="sidebar-nav-link">
                <div>
                    <i class="fa fa-mobile"></i>
                </div>
                <span>Quản lý sản phẩm</span>
            </a>
        </li>
        <li class="sidebar-nav-item">
            <a href="quanlyhoadon.jsp" class="sidebar-nav-link">
                <div>
                    <i class="fa-solid fa-layer-group"></i>
                </div>
                <span>Quản lý hóa đơn</span>
            </a>
        </li>
        <li class="sidebar-nav-item">
                <a class="user-link sidebar-nav-link" href="@Url.Action("Index", "ManageUsers")">
                <div>
                    <i class="fa-solid fa-circle-user"></i>
                </div>
                <span>Quản lý tài khoản</span>
            </a>
        </li>
    </ul>
</div>
<!-- end sidebar -->

    <div style=" margin: 30px 40px;padding-left: 50px; padding-top: 50px">
        @RenderBody()
    </div>
    <!-- Import scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src="~/js/admin.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- Render script sections -->
   
    <script>
        $(document).ready(function () {
            // Toggle the dropdown menu when the avatar or icon is clicked
            $('.avt.dropdown').on('click', function (event) {
                event.stopPropagation(); // Prevent the click event from bubbling up
                $(this).find('#user-menu').toggle(); // Toggle the visibility of the dropdown menu
            });

            // Close the dropdown menu if clicked outside
            $(document).on('click', function () {
                $('#user-menu').hide(); // Hide the dropdown menu
            });
        });
    </script>
    @RenderSection("Scripts", required: false);
    <!-- end import script -->
</body>
</html>
