@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor﻿
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Shop Phụ Kiện Điện Thoại</title>
	@*     <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/ElectronicsShop.styles.css" asp-append-version="true" /> *@
		<!-- Other head content -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="~/css/bootstrap.min.css" />

	<!-- Slick -->
	<link type="text/css" rel="stylesheet" href="~/css/slick.css" />
	<link type="text/css" rel="stylesheet" href="~/css/slick-theme.css" />
	<!-- nouislider -->
	<link type="text/css" rel="stylesheet" href="~/css/nouislider.min.css" />

	<!-- Font Awesome Icon -->
	<link rel="stylesheet" href="~/css/font-awesome.min.css">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="~/css/style.css" />
	<!-- js-->
	
	<script src="~/js/searchpartial.js" defer></script>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	
	<!-- HEADER -->
	<header>
		<!-- TOP HEADER -->
		<div id="top-header">
			<div class="container">
				<ul class="header-links pull-left">
					<li><a href="#"><i class="fa fa-phone"></i> 0949497383</a></li>
					<li><a href="#"><i class="fa fa-envelope-o"></i> dhnl@email.com</a></li>
					<li><a href="#"><i class="fa fa-map-marker"></i> Đại Học Nông Lâm</a></li>
				</ul>
				<ul class="header-links pull-right">
					<li><a href="@Url.Action("MyAccount", "Account")"><i class="fa fa-user-o"></i>
							@{if(User.Identity.Name != null)
								{
									@User.Identity.Name
								}else
									{
										<span>Đăng Nhập</span>
									}
								
							}</a></li>
					<li><a href="@Url.Action("Logout", "Account")"> <i class="fas fa-sign-out-alt"></i></i> Đăng Xuất</a></li>

				</ul>

			</div>
		</div>
		<!-- /TOP HEADER -->
		<!-- MAIN HEADER -->
		<div id="header">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- LOGO -->
					<div class="col-md-3">
						<div class="header-logo">
							<a href="#" class="logo">
								<img height="100px" , width="180px" src="~/img/mylogo.png" alt="">
							</a>
						</div>
					</div>
					<!-- /LOGO -->
					<!-- SEARCH BAR -->
					<div class="col-md-6">
						<div class="header-search">
							<form action="/Products/Search" method="get" id="searchForm">
								
								<input id="searchInput" name="searchTerm" class="input-select" placeholder="Tìm kiếm sản phẩm">
								<button class="search-btn">Search</button>
							</form>
						</div>
					</div>
					<!-- /SEARCH BAR -->
					<!-- ACCOUNT -->
					<div class="col-md-3 clearfix">
						<div class="header-ctn">
								<div class="dropdown">
									<a class="dropdown-toggle" asp-controller="ShoppingCart" asp-action="Index">
										<i class="fa fa-shopping-cart"></i>
										<span>Giỏ Hàng</span>
									<div class="qty">
										<div class="qty">
											@{
												var totalItems = 0;
												var cartJson = HttpContextAccessor.HttpContext.Session.GetString("Cart");
												if (!string.IsNullOrEmpty(cartJson))
												{
													var cart = System.Text.Json.JsonSerializer.Deserialize<CartModel>(cartJson);
													totalItems = cart.GetTotal();
												}
											}
											@totalItems
										</div>

									</div>  <!-- Hiển thị số lượng sản phẩm trong giỏ hàng -->
									</a>
								</div>
						
							<!-- Menu Toogle -->
							<div class="menu-toggle">
								<a href="#">
									<i class="fa fa-bars"></i>
									<span>Menu</span>
								</a>
							</div>
							<!-- /Menu Toogle -->
						</div>
					</div>
					<!-- /ACCOUNT -->
				</div>
				<!-- row -->
			</div>
			<!-- container -->
		</div>
		<!-- /MAIN HEADER -->
	</header>
	<!-- /HEADER -->
	<!-- NAVIGATION -->
	<nav id="navigation">
		<!-- container -->
		<div class="container">
			<!-- responsive-nav -->
			<div id="responsive-nav">
				<!-- NAV -->
				<ul class="main-nav nav navbar-nav">
					<li class="active"><a href="@Url.Action("Index", "Home")">Trang Chủ</a></li>
					<li><a href="#">Danh Mục</a></li>
					<li><a href="#">Khuyến mãi</a></li>
					<li><a href="@Url.Action("Introduction", "Home")">Giới Thiệu</a></li>
					<li><a href="@Url.Action("Contact", "Home")">Liên Hệ</a></li>
					<li><a href="@Url.Action("Privacy", "Home")">Chính Sách Bảo Mật</a></li>
				</ul>
				<!-- /NAV -->
			</div>
			<!-- /responsive-nav -->
		</div>
		<!-- /container -->
	</nav>
	<!-- /NAVIGATION -->
	<!-- hiển thị cho phần tìm kiếm-->
	<div id="searchResults"></div>

	</header>

	<div id="main" style="min-height: 600px" >
		@RenderBody()
	</div>
	@Html.Partial("_Chat")
	<!-- FOOTER -->
	<footer id="footer">
		<!-- top footer -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-3 col-xs-6">
						<div class="footer">
							<h3 class="footer-title">Về Chúng Tôi</h3>
							<p>
								Được thành lập từ năm 2004, Có thị phần số 1 Việt Nam với hơn 3.200 điểm bán thiết bị di động.
							</p>
							<ul class="footer-links">
								<li><a href="#"><i class="fa fa-map-marker"></i>Đại Học Nông Lâm</a></li>
								<li><a href="#"><i class="fa fa-phone"></i>0949497383</a></li>
								<li><a href="#"><i class="fa fa-envelope-o"></i>dhnl@email.com</a></li>
							</ul>
						</div>
					</div>

					<div class="col-md-3 col-xs-6">
						<div class="footer">
							<h3 class="footer-title">Danh Mục</h3>
							<ul class="footer-links">
								<li><a href="#">Khuyến Mãi</a></li>
								<li><a href="#">Cáp Sạc</a></li>
								<li><a href="#">Tai Nghe</a></li>
								<li><a href="#">Loa</a></li>
								<li><a href="#">Ốp Lưng</a></li>
							</ul>
						</div>
					</div>

					<div class="clearfix visible-xs"></div>

					<div class="col-md-3 col-xs-6">
						<div class="footer">
							<h3 class="footer-title">Thông Tin</h3>
							<ul class="footer-links">
								<li><a href="#">Về Chúng Tôi</a></li>
								<li><a href="#">Liên Hệ</a></li>
								<li><a href="#">Chính Sách Bảo Mật</a></li>
								<li><a href="#">Đơn Hàng và Trả Hàng</a></li>
								<li><a href="#">Điều Khoản & Điều Kiện</a></li>
							</ul>
						</div>
					</div>

					<div class="col-md-3 col-xs-6">
						<div class="footer">
							<h3 class="footer-title">Dịch Vụ</h3>
							<ul class="footer-links">
								<li><a href="#">Tài Khoản Của Tôi</a></li>
								<li><a href="#">Xem Giỏ Hàng</a></li>
								<li><a href="#">Danh Sách Yêu Thích</a></li>
								<li><a href="#">Theo Dõi Đơn Hàng</a></li>
								<li><a href="#">Hỗ Trợ</a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /top footer -->
		<!-- bottom footer -->
		<div id="bottom-footer" class="section">
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12 text-center">
						<ul class="footer-payments">
							<li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
							<li><a href="#"><i class="fa fa-credit-card"></i></a></li>
							<li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
							<li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
							<li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
							<li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
						</ul>
						<span class="copyright">
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							Bản quyền &copy;<script>document.write(new Date().getFullYear());</script> Đã đăng ký Bản quyền | Mẫu này được tạo với <i class="fa fa-heart-o" aria-hidden="true"></i> bởi <a href="https://colorlib.com" target="_blank">Colorlib</a>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						</span>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /bottom footer -->
	</footer>
	<!-- /FOOTER -->
	<!-- jQuery Plugins -->
	<script src="~/js/jquery.min.js"></script>
	<script src="~/js/bootstrap.min.js"></script>
	<script src="~/js/slick.min.js"></script>
	<script src="~/js/nouislider.min.js"></script>
	<script src="~/js/jquery.zoom.min.js"></script>

	<script src="~/js/main.js"></script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>