@model PhuKienShop.Data.User

@{
    ViewData["Title"] = "User Profile";
}

<h2 style="margin-left: 50px;">User Profile</h2>

<div style="border: 1px solid red; border-radius: 20px; padding: 10px; display: inline-block;">
    <p><strong>FullName:</strong> @Model.FullName</p>
    <p><strong>Email:</strong> @Model.Email</p>
    <p><strong>Username:</strong> @Model.Username</p>
    <p><strong>Phone Number:</strong> @Model.PhoneNumber</p>
    <p><strong>Address:</strong> @Model.Address</p>
    <p><strong>Created At:</strong> @Model.UpdatedAt.ToString()</p>
    <p><strong>Updated At:</strong> @Model.CreatedAt.ToString()</p>
    <a href="@Url.Action("UpdateAccount", "Account")" class="btn btn-primary" style="display: inline-block; margin-left: 65px;">Update Account</a>
</div>
