@model IEnumerable<PhuKienShop.Data.User>
@{
    ViewData["Title"] = "Quản lý Tài Khoản";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

    <table id="userTable" class="table table-hover" style="width: 100%">
        <thead class="">
            <tr class="">
                <th>Username</th>
                <th>Email</th>
                <th>Họ Tên</th>
                <th>Số Điện Thoại</th>
                <th>Địa Chỉ</th>
                <th>Quyền</th>
                <th>Ngày Tạo</th>
                <th>Ngày cập nhật</th>
                <th>Hành Động</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="text-center">
                    <form asp-action="EditRoleAndDelete" method="post">

                        <td>@Html.DisplayFor(modelItem => item.Username)</td>
                        <td>@Html.DisplayFor(modelItem => item.Email)</td>
                        <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                        <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                        <td>@Html.DisplayFor(modelItem => item.Address)</td>
                    <td>
                        <select name="Role" class="form-control">
                                @if (item.Role == "User")
                                {
                                <option value="User" selected="selected">User</option>
                                <option value="Admin">Admin</option>
                                }
                                else
                                {
                                <option value="User">User</option>
                                <option value="Admin" selected="selected">Admin</option>
                                }
                        </select>
                    </td>
                        <td>@Html.DisplayFor(modelItem => item.CreatedAt)</td>
                        <td>@Html.DisplayFor(modelItem => item.UpdatedAt)</td>
                        <td>
                            <input type="hidden" name="UserId" value="@item.UserId" />
                            <button type="submit" name="action" value="update" class="btn btn-warning btn-sm">
                                <i class="fas fa-save"></i>
                            </button>
                            <button type="submit" name="action" value="delete" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash"></i>
                            </button>
                        </td>
                    </form>
                </tr>
            }
        </tbody>
    </table>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>


