@model IEnumerable<PhuKienShop.Data.ProductSale>

@{
    ViewData["Title"] = "Quản Lý Khuyến Mãi";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<table class="table table-hover">
    <thead class="thead-light">
        <tr>
            <th>Tên Sản Phẩm</th>
            <th>Giá gốc</th>
            <th>Phần trăm</th>
            <th>Giá Sale</th>
            <th>Ngày Bắt Đầu</th>
            <th>Ngày Kết Thúc</th>
            <th>Thời Gian Cập Nhật</th>
           
            <th>  
                    <a asp-action="Create">
                    <i class="fa-solid fa-circle-plus"></i> <span class="p-3">Thêm</span>
                    </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Product.ProductName</td>
                <td>@item.OriginalPrice.ToString("N0")</td>
                <td>@item.DiscountPercentage.ToString("N0")%</td>
                <td>@item.SalePrice.ToString("N0")</td>
                <td>@item.StartDate</td>
                <td>@item.EndDate</td>
                <td>@item.UpdatedAt</td>
                
                <td>
                    <a asp-action="Edit" asp-route-id="@item.SaleId" class="btn btn-warning btn-sm">
                         Sửa
                    </a>
                    <a asp-action="Details" asp-route-id="@item.SaleId" class="btn btn-info btn-sm">
                        Xem
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.SaleId" class="btn btn-danger btn-sm">
                        Xóa
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
