@model IEnumerable<PhuKienShop.Data.ProductSale>

@{
    ViewData["Title"] = "Danh Sách Khuyến Mãi";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">
        Thêm Sản phẩm khuyến mãi
    </a>
</p>

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.OriginalPrice)</th>
            <th>@Html.DisplayNameFor(model => model.DiscountPercentage)</th>
            <th>@Html.DisplayNameFor(model => model.SalePrice)</th>
            <th>@Html.DisplayNameFor(model => model.StartDate)</th>
            <th>@Html.DisplayNameFor(model => model.EndDate)</th>
            <th>@Html.DisplayNameFor(model => model.CreatedAt)</th>
            <th>@Html.DisplayNameFor(model => model.UpdatedAt)</th>
            <th>Sản phẩm</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.OriginalPrice)</td>
                <td>@Html.DisplayFor(modelItem => item.DiscountPercentage) %</td>
                <td>@Html.DisplayFor(modelItem => item.SalePrice)</td>
                <td>@Html.DisplayFor(modelItem => item.StartDate)</td>
                <td>@Html.DisplayFor(modelItem => item.EndDate)</td>
                <td>@Html.DisplayFor(modelItem => item.CreatedAt)</td>
                <td>@Html.DisplayFor(modelItem => item.UpdatedAt)</td>
                <td>@Html.DisplayFor(modelItem => item.Product.ProductName)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.SaleId" class="btn btn-warning btn-sm">
                         Sửa
                    </a>
                    <a asp-action="Details" asp-route-id="@item.SaleId" class="btn btn-info btn-sm">
                        Xem
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.SaleId" class="btn btn-danger btn-sm">
                        Xóa
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
